
.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-container > * {
  padding: 10px;
  flex: 1 100%;
}

.map-container {
  border: solid;
  border-width: thin;
  background-color: lightgrey;
  position: relative;
  /* These sizes should match the `WORLD_SIZE` const */
  height: 400px;
  width: 400px;
}

.map-location {
  position: absolute;
  /* These sizes should match the `MAP_LOCATION_SIZE` const */
  height: 5px;
  width: 5px;
}

.selected-house-details-container {
  padding: 1em;
  border: solid;
  border-width: thin;
}

.house-list-container {
  min-width: 200px;
  max-height: 400px;
  overflow-y: scroll;
}

.house-list {
  padding-left: 1em;
}

.house-list-item {
  list-style: none;
}
.house-list-item:nth-child(even) {
  background-color: lightgrey;
}
.house-list-item--selected {
  color: red;
}
.house-list-item:hover {
  color: grey;
}

@media all and (min-width: 600px) {
  .map-outer-container { flex: 0 1 0; }

  .houses-container { flex: 1 0 0; }
}
